{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <a href="./article/new">Ajouter un article</a>
    <table class="user">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Content</th>
                    <th>Crée le</th>
                    <th>Edition</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr class="card-user">
                    <td><a href="./article/{{ article.id}}">{{ article.title}}</a></td>
                    <td>{{ article.author}}</td>
                    <td>
                    {% if article.content | length > 300 %}
                        {{article.content | slice(0, 300) }}
                        <a href="./article/{{ article.id}}">... voir plus</a>
                    {% else %}
                        {{article.content}}
                    {% endif %}
                    </td>
                    <td>{{ article.createdAt |date('d-m-Y')}}</td>
                    <td><a href="./article/{{ article.id}}/edit">Editer</a></td>
                </tr>
            {% endfor %}
            </tbody>
    </table>

    {{ knp_pagination_render(articles) }}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/app/src/Controller/ArticleController.php'|file_link(0) }}">src/Controller/ArticleController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/app/templates/article/index.html.twig'|file_link(0) }}">templates/article/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
